@model IEnumerable<IMS.Models.GetProjectItemCount_Result>
@using IMS.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string PMG = clsImplementationEnum.RoleType.PMG.GetStringValue();
    string rolename = "";
    clsLoginInfo objClsLoginInfo = new clsBase().objClsLoginInfo;
    if (objClsLoginInfo != null)
    {
        rolename = objClsLoginInfo.RoleName;
    }
}

<style>
    .font18 {
        font-size:18px;
    }

    .fa-project {
        color: #4e73df !important;
    }

    .fa-role {
        color: #1cc88a !important;
    }

    .fa-dispatch {
        color: #36b9cc !important;
    }

    .fa-qrscan {
        color: #f6c23e !important;
    }

    .fa-file {
        color: #e74a3b !important;
    }
</style>

<input type="hidden" id="hdnRoleId" name="hdnRoleId" value="0">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>*@
</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                <span class="font18">Projects</span>
                            </a>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        @*<div class="h5 mb-0 font-weight-bold text-gray-800">@(ViewBag.Projects)</div>*@
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bookmark fa-2x text-gray-300 fa-project"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (rolename == PMG)
    {
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                <a class="nav-link" href="@Url.Action("RoleMaster", "Home")">
                                    <span class="font18">Role Master</span>
                                </a>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                            @*<div class="h5 mb-0 font-weight-bold text-gray-800">@(ViewBag.Vehicles)</div>*@
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300 fa-role"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            <a class="nav-link" href="@Url.Action("Index", "ScanQRCode")">
                                <span class="font18">Dispatch</span>
                            </a>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                            </div>
                            @*<div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-qrcode fa-2x text-gray-300 fa-dispatch"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            <a class="nav-link" href="@Url.Action("ItemScanner", "ScanQRCode")">
                                <span class="font18">QR Scan</span>
                            </a>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-qrcode fa-2x text-gray-300 fa-qrscan"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reports -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            <a class="nav-link" href="@Url.Action("ProjectWiseData", "Home")">
                                <span class="font18">Reports</span>
                            </a>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-qrcode fa-2x text-gray-300 fa-file"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                <h6 class="m-0 font-weight-bold text-primary">Project Wise Loaded Item Details</h6>
            </div>
            <div class="card-body">
                <div class="">
                    <table id="example" class="table table-bordered  dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Total Item</th>
                                <th>Total Approved</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Project)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalItem)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalApprove)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

