
@{
    ViewBag.Title = "Scan QR Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-4">
        <h6 class="m-0 font-weight-bold text-primary">Scan QR Code</h6>
    </div>
    <div class="card-body">
        <div class="">
            <div class="row">
                <div class="col-lg-1">
                    <span class="CustomLabel">Project</span>
                </div>
                <div class="col-lg-3">
                    @Html.DropDownList("txtProject", new SelectList(ViewBag.Project), "Select Project", new { id = "txtProject", @class = "form-control require", @onchange = "GetVehicleByProject()" })
                </div>
                <div class="col-lg-1">
                    <span class="CustomLabel">Vehicle Number</span>
                </div>
                <div class="col-lg-3">
                    @Html.DropDownList("txtVehicleNo", new SelectList(ViewBag.VehicleNo), "Select Vehicle No", new { id = "txtVehicleNo", @class = "form-control require" })
                </div>
                <div class="col-lg-4" style="display:inherit">
                    <div class="col-lg-3">
                        <span class="CustomLabel">Scan Item</span>
                    </div>
                    <div class="col-lg-6">
                        @Html.TextBox("txtItemNo", null, new { id = "txtItemNo", @class = "form-control" })
                    </div>
                    <div class="col-lg-3">
                        <button type="button" id="btnOpen" class="btn btn-success" onclick="ScanQRCode()">
                            <span class="glyphicon glyphicon-qrcode"></span> Item Scan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    function ScanQRCode() {
        var project = $("#txtProject").val();
        var vehicleNo = $("#txtVehicleNo").val();
        if (project != "" && vehicleNo != "") {
            var url = "/ScanQRCode/OpenQRScanner?Project=" + project + "&VehicleNo=" + vehicleNo;
            window.location.href = url;
        }
        else {
            toastr.warning('Please select Project and Vehicle No');
        }
    }
    var ResultItem = '@ViewBag.Item'
    if (ResultItem != "") {
        $("#txtItemNo").val(ResultItem);
        var project = '@ViewBag.Proj';
        $("#txtProject").val(project);
        var vehicleNo = '@ViewBag.VNo';
        $("#txtVehicleNo").val(vehicleNo);
        GetProjectItemDetails(ResultItem);
    }
    else if ('@ViewBag.Proj' != "") {
        var project = '@ViewBag.Proj';
        $("#txtProject").val(project);
        var vehicleNo = '@ViewBag.VNo';
        $("#txtVehicleNo").val(vehicleNo);
    }
    function GetProjectItemDetails(Item) {
        $.ajax({
            url: '@Url.Action("GetProjectItemDetails", "ScanQRCode")',
            dataType: "json",
            type: "POST",
            data: { Project: $("#txtProject").val(), Item: Item },
            success: function (result) {
                if (result.Key) {
                    if (result.data.IsApprove == true) {
                        var ApprovedOn = formattedDateFromJson(result.data.ApprovedOn);
                        toastr.warning('MarkNo - BatchNo Item already marked loaded on ' + ApprovedOn);
                        window.setTimeout('window.location.href = "@Url.Action("Index", "ScanQRCode")"',2000);
                    } else {
                        if (confirm('Are you sure you want to load this Item?')) {
                            $.ajax({
                                url: '@Url.Action("LoadProjectItemDetails", "ScanQRCode")',
                                dataType: "json",
                                type: "POST",
                                data: { markNo: result.data.MarkNo, batch: result.data.Batch, vehicleNo: $("#txtVehicleNo").val() },
                                success: function (item) {
                                    if (item.Key) {
                                        toastr.success('MarkNo - BatchNo loaded');
                                        window.setTimeout('window.location.href = "@Url.Action("Index", "ScanQRCode")"',2000);
                                    }
                                    else {
                                        toastr.error('Error');
                                    }
                                }
                            });
                        } else {
                            toastr.warning('MarkNo - BatchNo Not loaded');
                        }
                    }
                }
                else {
                    toastr.warning('MarkNo - BatchNo Not available');
                }
            }
        });
    }
    function GetVehicleByProject() {
        $.ajax({
            url: '@Url.Action("GetVehicleByProject", "ScanQRCode")',
            dataType: "json",
            type: "POST",
            data: { Project: $("#txtProject").val()},
            success: function (result) {
                var appenddata = "<option value=''>Select Vehicle No</option>";
                $.each(result.data, function (key, value) {
                    appenddata += "<option value = '" + value.VehicleNo + " '>" + value.VehicleNo + " </option>";
                });
                $('#txtVehicleNo').html(appenddata);
            }
        });
    }
    function formattedDateFromJson(jsonDate) {
        var d = new Date(parseInt(jsonDate.substr(6)));
        return ("0" + d.getDate()).slice(-2) + '/' + ("0" + (d.getMonth() + 1)).slice(-2) + '/' + d.getFullYear();
    }
</script>
